.overview-dropdown {
    position: absolute;
    background-color: #abbdc0;
    display: none;
    margin-top: 10px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 33px;
    list-style: none;
    text-align: left;
    font-size: 35px;
    line-height: 1.8;
}

.dropdown-trigger {
    position: relative;
}

.dropdown-trigger:hover .overview-dropdown {
    display: block;
}


.process-dropdown {
    position: absolute;
    background-color: #abbdc0;
    display: none;
    margin-top: 10px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 33px;
    list-style: none;
    text-align: left;
    font-size: 35px;
    line-height: 1.8;
}

.dropdown-trigger {
    position: relative;
}

.dropdown-trigger:hover .process-dropdown {
    display: block;
}

.about-pic {
    margin-top: 60px;
 max-width: 100%;
  height: 400px;
  width: auto;
  
}
.about-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.about-container h2 {
  margin-top: 0;
}

.about-container .heading-2 {
  margin-top: 0;
}

.about-container .paragraphs {
  margin-top: 0;
}